* {
    box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 58px;
  text-align: left;
  background-image: url("./images/landscape-test-css.jpg");
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: rgb(57, 17, 235);
  position: sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 24px 30px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: left;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(82, 4, 82);
  color: white;
}

/* Active/current link */
.navbar a.active {
  background-color: rgb(31, 143, 235);
  color: black;
}

/* Column container */
.row {  
  display: flex;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 50%;
  background-color: #000000;
  padding: 40px;
  color: white;
}

/* Main column */
.main {   
  flex: 50%;
  background-color: white;
  padding: 0px;
}

/* Footer */
.footer {
  padding: 20px;
  background: #474747;
}

/* Center the text */
.footer p {
  text-align: left;
  font-size: 20px;
  color: #d8d8d8;
}

/* Basic styles for the post */
.post {
  margin-bottom: 20px;
  padding: 10px;
  background-color: gray;
  border: 5px solid #ccc;
}

/* Styles for the post heading */
.post h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

/* Styles for the post image */
img {
  max-width: 80%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}